:root {
    --primary: rgb(0, 149, 149);
    --primary-dark: rgb(0, 102, 102);
    --primary-alt: rgb(0, 190, 190);
    --secondary: #343a40;
}

@font-face {
    font-family: 'kgsweetnsassy-webfont';
    src: url('../fonts/kgsweetnsassy-webfont.ttf') format('truetype');
}

.pointer {
    cursor: pointer;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.btn-primary {
    color: white !important;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-alt);
    border-color: var(--primary-alt);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary-dark);
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--primary);
    background-color: var(--primary);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--primary);
}

.page-link {
    color: var(--primary);
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 47px;
    height: 47px;
}

.btn-floating i {
    margin-top: 14px;
}